@(projects: List[Int] = List(1,2,3,4,5,6))

@common.main("Senseship 2.0") {

    @*******************
    ** Managed By
    *******************@
    <div class="row" id="intro">

        <div class="four columns">
            <img src="http://placehold.it/150x150&text=Site Owner">
        </div>

        <div class="eight columns">
            <strong>This Site Is Managed By<hr/></strong>

                Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
        </div>

    </div>

    @*******************
    ** End Managed By
    *******************@

    <div class="row" id="project">

        @********************@
        @*** Project List*@
        @********************@

        <ul class="three_up tiles eight columns">

                @for(p <- projects) {
                    <li class="projectPreview">
                        <img src="http://placehold.it/100x100&text=Thumbnail">

                        <div class="panel">
                            <h5>Item Name</h5>
                            <h6 class="subheader">$000.00</h6>
                        </div>
                    </li>
                }
        </ul>

        @********************@
        @*** End Project List*@
        @********************@


        @********************@
        @*** Sidebar*@
        @********************@


        <div class="four columns">
            <img src="http://placehold.it/300x300&text=Logo">
            <div class="hide-for-small panel">
                <h3>Header</h3>
                <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
                </h5>
            </div>

            <a href="#">
                <div class="panel callout radius">
                    <h6>99&nbsp; items in your cart</h6>
                </div>
            </a>
        </div>

        @********************@
        @*** End Sidebar*@
        @********************@

    </div>
}

