<footer class="row">
    <div class="twelve columns"><hr />
        <div class="row">

            <div class="six columns">
                <p>&copy; Copyright no one at all. Go to town.</p>
            </div>

            <div class="six columns">
                <div class="row">
                    <span class="push_six three columns"><a href="#">About</a></span>
                    <span class="three columns"><a href="#">Contact</a></span>
                </div>
            </div>

        </div>
    </div>
</footer>