@()(implicit lang: Lang)

<div class="navbar" id="navigationContainer">
<div class="row">
    <a class="toggle" gumby-trigger="#navigationContainer &gt; .row &gt; ul" href="#"><i class="icon-menu"></i></a>
        <a href="#" class="four columns logo">
            <img src="@routes.Assets.at("images/logoBK2.png")"/>
        </a>
    <ul class="eight columns">
        <li>
            <a href="#">@Messages("header.menuItem.createExperience")</a>
        </li>
        <li>
            <a href="#">@Messages("header.menuItem.loginRegister")</a>
        </li>
        <li><a href="#" class="hasDropdown">@Messages("header.menuItem.languages")</a>
            <div class="dropdown">
                <ul>
                    <li><a href="#">@Messages("header.menuItem.languages.english")</a></li>
                    <li><a href="#">@Messages("header.menuItem.languages.german")</a></li>
                    <li><a href="#">@Messages("header.menuItem.languages.spanish")</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
</div>